<div class="stepper-horizontal" id="stepper1">
        <div class="step editing">
            <div class="step-circle"><span>1</span></div>
            <div class="step-title">Basic Info</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step">
            <div class="step-circle"><span>2</span></div>
            <div class="step-title">Address</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step">
            <div class="step-circle"><span>3</span></div>
            <div class="step-title">Contacts</div>
            <div class="step-optional">Optional</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step">
            <div class="step-circle"><span>4</span></div>
            <div class="step-title">Reporting Info</div>
            <div class="step-optional">Optional</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
    </div>
    <button (click)="nextStep()">Next</button>